/* VARIALBES */

:root {
  --theme-primary:         #3c37f1;
  --theme-secondary:       #1998ff;
  --theme-success:         #00d663;
  --theme-info:            #00b3ff;
  --theme-warning:         #ffe671;
  --theme-danger:          #ff696d;
  --theme-light:           #506690;
  --theme-dark:            #000000;
  --theme-hight-contrast:  #ffffff;
  --theme-bg-color:        var(--theme-primary);
  --theme-text-color:      #2c3e50;
}
