/* Typography */

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Black.eot.eot');
  src: url('../fonts/Rubik-Black.eot.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik-Black.eot.woff2') format('woff2'),
    url('../fonts/Rubik-Black.eot.woff') format('woff'),
    url('../fonts/Rubik-Black.eot.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Bold.eot.eot');
  src: url('../fonts/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik-Bold.woff2') format('woff2'),
    url('../fonts/Rubik-Bold.woff') format('woff'),
    url('../fonts/Rubik-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Light.eot');
  src: url('../fonts/Rubik-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik-Light.woff2') format('woff2'),
    url('../fonts/Rubik-Light.woff') format('woff'),
    url('../fonts/Rubik-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Medium.eot');
  src: url('../fonts/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik-Medium.woff2') format('woff2'),
    url('../fonts/Rubik-Medium.woff') format('woff'),
    url('../fonts/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.eot');
  src: url('../fonts/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Rubik-Regular.woff2') format('woff2'),
    url('../fonts/Rubik-Regular.woff') format('woff'),
    url('../fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}