.o-nav {
  padding: 1.875rem 1rem;
  background: var(--theme-bg-color);
}

.o-nav__menu {
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.o-nav__link {
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.937rem;
  color: inherit;
  text-decoration: none;
}

.o-nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--theme-hight-contrast);
}